/* SliderComponent.css */
.slider-container {
  position: relative;
  margin-top: 20px;
}

.slider-item img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 8px;
  height: 500px;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: #d4af37; /* Gold dots */
}

.slick-prev, .slick-next {
  font-size: 24px;
  color: #d4af37;
}
